@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Add some space from the top */
   

    /* Center the heading */
    .text-center {
        text-align: center;
    }

    /* Style the heading */
    .display-4 {
        margin: 200px 0 20px; /* Add margin to the top, bottom, and between text */
    }
</style>

<div class="text-center">
    
    <h1 class="display-4 mx-auto">Marks Management System</h1>
</div>
